@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    color: #F8E6C9;
}

.root-wrapper {
    width: 30vw;
    height: auto;
    top: 31.2%;
    left: 62.5%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    overflow: hidden;
    background: transparent !important;
}

html, body {
    background: transparent !important;
}

.main-wrapper {
    margin: auto;
    margin-top: 64.2%;
    width: 44.5%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    padding: 1.5rem;
    display: none;
}

.heading {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: wrap;
    margin-bottom: -10px;
}

.heading h1 {
    letter-spacing: 0.5px;
    font-size: 20px;
    position: relative;
    font-weight: 500;
}

.body {
    width: 100%;
    height: auto;
    min-height: 10%;
    max-height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.body label {
    margin-top: 24px;
}

.body input[type="text"] {
    font-size: 14px;
    outline: none;
    padding-left: 20px;
    border-radius: 5px;
    margin: 5px 0px;
    background: #111518;
    height: 50px;
    border: none;
}

.body input[type="text"]:focus { 
    outline: none;
}

.body select {
    background: #111518;
    border: none;
}

.body option {
    background: #111518;
    padding: 1rem 0;
}

::placeholder {
    color: #F8E6C9;
}

.background {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: -99;
    display: none;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 14px;
    background-color: #111518;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 0.10s, 0.30s;
    -webkit-transition-timing-function: linear, ease-in;
}

.btn:hover {
    background-color: #F8E6C9;
    color: #111518;
}