@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

#controls {
	font-family: 'Poppins', sans-serif;
	font-size: 3em;
	color: #fff;
	position: absolute;
	bottom: 40;
	right: 40;
}

.controls {
	display: none;
}

.dialog {
	font-family: 'Poppins', sans-serif;
  background: rgba(33, 33, 33, 0.8);
  color: #fff;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 127px;
	transform: translate(-50%, -50%);
  border-top: 5px solid #00c6e4;
  border-radius: 10px;
  -webkit-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
}

.head {
	display: flex;
	flex-basis: 100%;
	align-items: center;
}

.dialog.big {
	height: 200px;
}

.dialog .head {
	background-color: #27272d;
	text-align: center;
	height: 40px;
}

.dialog .head span::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.dialog input[type="text"] {
	width: 60%;
	height: 32px;
  outline: 0;
  background: rgba(33, 33, 33, 0.8);
  text-align: center;
  margin-top: 26px;
  margin-left: 125px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border: 1.2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.dialog input[type="text"]:active, .dialog input[type="text"]:hover {
  color: #fff;
}

.dialog textarea {
	width: 100%;
	height: 128px;
}

.dialog button[name="submit"] {
	width: 17.6%;
	height: 29px;
  margin-left: 160px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(69, 233, 57, 0.5);
  border: 0;
  border-radius: 8px;
  outline: 0;
  transition: all 0.1s ease-in-out;
}

.dialog button {
  z-index: 9999;
	transform: translate(-0%, 50%);
}

.dialog button[name="cancel"] {
	width: 17.6%;
	height: 29px;
  margin-left: 80px;
  border: 0;
  border-radius: 8px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #fff;
  outline: 0;
  background-color: rgba(255, 67, 67, 0.5);
  transition: all 0.1s ease-in-out;
}

.dialog button[name="cancel"]:hover {
  letter-spacing: 1px;
  width: 17.6%;
  background-color: rgba(255, 67, 67, 0.4);
  letter-spacing: 1.5px;
}

.dialog button[name="submit"]:hover {
  letter-spacing: 1px;
  background-color: rgba(60, 250, 46, 0.4);
  letter-spacing: 1.5px;
}

.head::before,
.head::after {
	content: "";
	flex-grow: 1;
	background: #00e1ff;
	height: 2px;
	margin: 0px 3px;
}
